@font-face {
    font-family: 'JetBrains Mono Light';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Light.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Light Italics';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Light-Italic.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Regular';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Medium';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Medium.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Medium Italic';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Medium-Italic.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Bold.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Bold Italic';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Extrabold';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'JetBrains Mono Extrabold';
    src: url("~assets/fonts/jetbrains-mono/JetBrainsMono-ExtraBold-Italic.woff") format('woff');
}