$paua: #25274D; // primary
$east-bay: #504f79; // primary-light
$paua-darker: #000025; // primary-dark
$endeavour: #29648a; // secondary
$shakespeare: #5d91ba; // secondary-light
$prussian-blue: #003a5d; // secondary-dark
$mischka: #aaabb8; // text-strong
$solitude: #dcddea; //text-strong-light
$storm-grey: #7b7c88; // text-strong-dark
$pelorus: #2E9CCA; // accent
$maya-blue: #6dcdfd; // accent-light
$cerulean: #006e99; // accent-dark
