$paua: #25274D; // primary
$east-bay: #504f79; // primary-light
$paua-darker: #000025; // primary-dark
$endeavour: #29648a; // secondary
$shakespeare: #5d91ba; // secondary-light
$prussian-blue: #003a5d; // secondary-dark
$mischka: #aaabb8; // text-strong
$solitude: #dcddea; //text-strong-light
$storm-grey: #7b7c88; // text-strong-dark
$pelorus: #2E9CCA; // accent
$maya-blue: #6dcdfd; // accent-light
$cerulean: #006e99; // accent-dark

/* gundam double x */
$gdx-regal-blue: #23315d; // primary
$gdx-prussian-blue: #0d1538; // primary-dark
$gdx-kashmir-blue: #505A8A; // primary-light
$gdx-solitude: #EAE9EF; // text
$gdx-ghost: #b8b7bd; // text-dark
$gdx-rhino: #434957; // secondary
$gdx-midnight-express: #1c222e; // secondary-dark
$gdx-storm-grey: #6E7484; // secondary-light
$gdx-mountain-meadow: #15A863; // accent
$gdx-pastel-green: #5adb91; // accent-light
$gdx-watercourse: #007838; // accent-dark
$gdx-persian-red: #d34132; // warning
$gdx-sangria: #9B000A; // warning-dark
$gdx-bittersweet: #FF735D; // warning-light