// global variables
$family-primary: "JetBrains Mono", sans-serif;

// theming variables
$secondary: $gdx-rhino;
$info: $cerulean;
$success: $pelorus;
$link: $gdx-mountain-meadow;
$link-hover: $gdx-pastel-green;

$title-color: $gdx-solitude;
$subtitle-color: $gdx-ghost;

// component variables
// background
$navbar-background-color: $gdx-regal-blue;
$footer-background-color: $gdx-regal-blue;
$body-background-color: $gdx-regal-blue;

// navbar
$navbar-item-color: $gdx-mountain-meadow;
$navbar-item-hover-color: $gdx-pastel-green;
$navbar-item-hover-background-color: $navbar-background-color;