// global variables
$family-sans-serif: "Roboto", sans-serif;

// theming variables
$primary: $prussian-blue;
$info: $cerulean;
$success: $pelorus;

$title-color: $mischka;
$subtitle-color: $solitude;

// component variables
$navbar-background-color: $paua;
$footer-background-color: $paua;
$body-background-color: $paua;