// @import "~bulma/sass/utilities/_all.sass";
@import "_font";
@import "_theme";
@import "_variables";
@import "_mixins";

#app {
    .box {
        background: $secondary-dark;
        @include standard-transition;
        &:hover, :focus {
            background: $primary-dark;
            transform: translate(-0.15rem, -0.2rem);
        }
        
    }
    h1 {
        color: $title-color;
    }
    h2, h3, p, li {
        color: $subtitle-color;
    }
    a {
        color: $link;
        @include standard-transition;
        &:hover {
            color: $link-light;
        }
    }
}


@import "~bulma/bulma";